<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SnagzPizza</title>
  <style>
    h1 {
      color: red;
    }
    body {
      background-color: gray;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
    }
    form {
      font-size: 150%;
    }
    #pizza-image {
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>
<body>
  <h1>Witaj w SnagzPizza! Zrób swoją pizzę!</h1>
  <form id="pizza-form" method="POST" action="/SnagzPizza">
    <!--dodać onclick do inputów do pokazywania na pizzy -->
    <input type="checkbox" name="s" value="Pizza_ser" onclick="updatePizzaImage()">Ser żółty<br>
    <input type="checkbox" name="s" value="Pizza_składnik_mozzarella" onclick="updatePizzaImage()">Mozzarella<br>
    <input type="checkbox" name="s" value="Pizza_sosPOM" onclick="updatePizzaImage()">Sos pomidorowy<br>
    <input type="checkbox" name="s" value="Pizza_składnik_pomidor" onclick="updatePizzaImage()">Pomidor<br>
    <input type="checkbox" name="s" value="Pizza_składnik_cebula" onclick="updatePizzaImage()">Cebula<br>
    <input type="checkbox" name="s" value="Pizza_składnik_ogórek" onclick="updatePizzaImage()">Ogórek<br>
    <input type="checkbox" name="s" value="Pizza_składnik_jalapeno" onclick="updatePizzaImage()">Jalapeno<br>
    <input type="checkbox" name="s" value="Pizza_składnik_papryka" onclick="updatePizzaImage()">Papryka<br>
    <input type="checkbox" name="s" value="Pizza_składnik_bekon" onclick="updatePizzaImage()">Bekon<br>
    <input type="checkbox" name="s" value="Pizza_składnik_salami" onclick="updatePizzaImage()">Salami<br>
    <input type="checkbox" name="s" value="Pizza_składnik_szynka" onclick="updatePizzaImage()">Szynka<br>
    <input type="checkbox" name="s" value="Pizza_składnik_kurczak" onclick="updatePizzaImage()">Kurczak<br>
    <input type="checkbox" name="s" value="Pizza_składnik_ananas" onclick="updatePizzaImage()">Ananas<br>
    <input type="checkbox" name="s" value="Pizza_składnik_krewetki" onclick="updatePizzaImage()">Krewetki<br>
    <input type="checkbox" name="s" value="Pizza_składnik_kebab" onclick="updatePizzaImage()">Kebab<br>
    <input type="checkbox" name="s" value="Pizza_składnik_tabasco" onclick="updatePizzaImage()">Tabasco<br>
    <input type="checkbox" name="s" value="Pizza_sos_ostry" onclick="updatePizzaImage()">Sos ostry<br>
    <input type="checkbox" name="s" value="Pizza_sos_czosnkowy" onclick="updatePizzaImage()">Sos czosnkowy<br>
    <br>
    <input type="text" name="deliveryAddress" placeholder="Adres dostawy"><br><br>
    <button type="submit">Zamów</button>
  </form>
  <div id="pizza-image">
    <img src="../test/Pizza_ciasto.png" alt="dawdas">
    <img src="xxxTentacion.png" alt="xn better">
  </div>

  <script>
    function updatePizzaImage() {
      const checkboxes = document.querySelectorAll('input[name="s"]:checked');
      const pizzaImage = document.getElementById('pizza-image');
      let ingredients = [];
      checkboxes.forEach((checkbox) => {
        ingredients.push(checkbox.value);
      });
      alert(ingredients);
      // Logic to change the pizza image based on selected ingredients
      pizzaImage.style.backgroundImage = url('/test/pizza_ciasto.svg');
      pizzaImage.style.backgroundImage = ingredients.map(ingredient => `url('../test/${ingredient}.svg')`).join(', ');
    }
  </script>
</body>
</html>
